:root{
    --farbeBloeckeText1: white;
    --farbeHintergrundText1:antiquewhite;
    --farbeSchattenText1:rgb(0, 0, 0);
}
a{
    text-decoration: none;
}
#bodyText1{
    background-color: var(--farbeHintergrundText1);
}
#UeberschriftText1{
    grid-area: kopfzeile;
    background-color: var(--farbeBloeckeText1);
    box-shadow: 5px 5px 15px var(--farbeSchattenText1);
    /*innerhalb der border erweitert*/
    /*margin: 20px;*/ /*außerhalb der border erweitert*/ 
    width: 100%;
    box-sizing: border-box;
    /*border-radius: 15px 15px 15px 15px;*/
    border-radius: 50px;
}
#zurueckText1{
    grid-area: zurueck;
    background-color: var(--farbeBloeckeText1);
    text-align: center;
    text-transform: uppercase;
}
.kopfText1{
    display: grid; 
    grid-template-columns: 5% 1% auto; 
    grid-template-rows: auto; 
    gap: 20px 0px; 
    grid-template-areas:
    "zurueck . kopfzeile";
    text-align: center;
    margin-bottom: 20px;
}
.zurueckText1{
    width: 100%;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: 5px 5px 15px var(--farbeSchattenText1);

    transition: transform 250ms;
}
.zurueckText1:hover {
    transform: translateY(-10px);
  }
#BildID{
    grid-area: bildArea;
    text-align: center;
}
#TextID{
    grid-area: TextArea;
    text-align: center;
}
.BildText{
    background-color: var(--farbeBloeckeText1);
    box-shadow: 5px 5px 15px var(--farbeSchattenText1);

    width: 100%;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 15px;
}
.NeueSeite{
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto;
    gap: 20px 0px;
    grid-template-areas: 
    "bildArea TextArea";
}